{% extends 'base.html' %}

{% block content%}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sed quam commodi sint nemo tempore accusantium, rem unde consequuntur. Quo alias aliquid, laudantium culpa facere perspiciatis rem ducimus quisquam dolorem nihil quas impedit? Possimus consequuntur architecto qui voluptates repudiandae quisquam, natus tempore eius distinctio eveniet magni tempora enim adipisci libero culpa officia ab dolores aspernatur soluta, inventore illo rem ducimus, unde nemo! Aspernatur officiis doloribus consequuntur praesentium itaque, nisi vitae officia! Hic expedita commodi eius rem quisquam possimus, animi sunt nulla, perferendis laborum velit harum, deleniti obcaecati quia in? Dicta, rerum consectetur! Ea sed harum nostrum hic, excepturi sint ducimus?
</p>
{%endblock%}
 